[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ImCluster"]
	path = ImCluster
	url = https://github.com/cran/ImCluster
[submodule "ImFoR"]
	path = ImFoR
	url = https://github.com/cran/ImFoR
[submodule "ImHD"]
	path = ImHD
	url = https://github.com/cran/ImHD
[submodule "ImNN"]
	path = ImNN
	url = https://github.com/cran/ImNN
[submodule "ImVol"]
	path = ImVol
	url = https://github.com/cran/ImVol
[submodule "Imneuron"]
	path = Imneuron
	url = https://github.com/cran/Imneuron
